@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../font/fabric.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--AustralianRules:before { content: "\EE70"; }
.ms-Icon--AuthenticatorApp:before { content: "\F6B1"; }
.ms-Icon--AutoEnhanceOff:before { content: "\E78E"; }
.ms-Icon--FastForwardEightX:before { content: "\E443"; }
.ms-Icon--FastForwardFourX:before { content: "\E442"; }
.ms-Icon--FastForwardOneX:before { content: "\E43F"; }
.ms-Icon--Pause:before { content: "\E769"; }
.ms-Icon--Play:before { content: "\E768"; }
.ms-Icon--PlayResume:before { content: "\F2C6"; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #f18f43;
  font-weight: bold;
  text-decoration: none;
}


body {
  background-color: #121212;
  color: #f1f1f1;
}

.App {
  max-width: 1000px;
  margin: auto;
}

.header {
  margin-bottom: 15px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  background-image: linear-gradient(
      45deg,
      #CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #6ba0b9 66.666%,
      #6ba0b9 83.333%,
      #A7489B 83.333%);
  background-size: 10%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gameListing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  position: relative;
  left: -10px;
}

.GameObject {
  width: 20%;
}

.GameObjectInner {
  padding: 10px;
  margin-bottom: 10px;
}

.GameObject img {
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  height: 259px;
  transition: all 200ms;
}

.GameObject:hover img {
  transform: scale(1.03);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,1);
}

.GameObject h4 {
  text-align: center;
  margin: 5px;
}

.Game {
  background: #1f1f1f;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
}

.Game img {
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.Game h1 {
  font-size: 23px;
  padding: 0px;
  margin: 0px;
  line-height: 1.5em;
}

.Game .category {
  padding: 0px;
  margin: 0px;
  line-height: 1.6em;
  font-weight: bold;
  opacity: 0.7;
}

.Game .releaseDate, .Game .runAmount {
  margin: 0px;
  margin-top: 5px;
}


.controller {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.button {
  background: #1f1f1f;
  padding: 10px;
  font-size: 17px;
  border-radius: 100%;
  cursor: pointer;
}

.button:hover {
  background: #222;
}

.progress {
  height: 12px;
  flex: 1;
  background: #1f1f1f;
  border-radius: 6px;
  overflow: hidden;
}
.progressDone {
  height: 12px;
  background: #09b876;
  border-radius: 6px;
  transition: 200ms all;
}

.runs {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow: hidden;
}

.sideStats {
  height: 200px;
}

.runItem {
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #121212;
}

.runTime {
  font-size: 13px;
  margin-top: 1px;
}

.playerName {
  width: 200px;
}

.percent {
  transition: 300ms all;
  border-radius: 3px;
  margin-right: 5px;
}

.playerName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerName img {
  margin-right: 7px;
  margin-left: 2px;
  margin-top:1px;
}

.playerName span {
  font-weight: 600;
}

.timeline {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.timeline .leftPanel {
  flex: 2;
}

.timeline .rightPanel {
  flex: 1;
}

.footer {

}

.footer p {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 15px;
}


@media only screen and (max-width: 800px) {
  .GameObject {
    width: calc(100% / 3);
  }
  .GameObject img {
    height: auto;
  }

  .timeline {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .GameObject {
    width: 50%;
  }
}
